<a href="https://colab.research.google.com/github/jlcalleu18/MicroCredential-DataAnalytics/blob/main/Assignment_1_Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lesson 4 – Looping

##Create a list that holds 5 data variables.

In [ ]:
colors = ['red', 'blue', 'yellow', 'black', 'green']

In [ ]:
colors

['red', 'blue', 'yellow', 'black', 'green']

##Print out those variables by using a for loop.

In [ ]:
for color in colors:
  print(color)

red
blue
yellow
black
green

##Modify your for loop to add a message to your for loop.

In [ ]:
for color in colors:
  print('My favority color is: '+color)

My favority color is: red
My favority color is: blue
My favority color is: yellow
My favority color is: black
My favority color is: green

##Use a for loop to print even numbers from 1-20.

In [ ]:
for num in range(1,21):
  if num % 2 == 0:
    print(num)

2
4
6
8
10
12
14
16
18
20

##Sort your list in alphabetic order.

In [ ]:
colors.sort()

In [ ]:
colors

['black', 'blue', 'green', 'red', 'yellow']

##Print out the first three elements of your list.

In [ ]:
print(colors[:3])

['black', 'blue', 'green']

##Create a loop to print the last 2 elements of your list.

In [32]:
index = len(colors)-1
count = 0
while count < 2:
  print(colors[index])
  index-=1
  count+=1

yellow
red

#Lesson: Unit 2 – Python Dictionaries

##Create a simple dictionary that stores 2 variables, for example: first and last name.

In [36]:
user = {'first_name': 'Jorge', 'last_name': 'Calle'}

In [37]:
user

{'first_name': 'Jorge', 'last_name': 'Calle'}

##Print out those variables stored in your previous dictionary.

In [39]:
print(user['first_name'])
print(user['last_name'])

Jorge
Calle

##Add a message to those variables on printing: for example: “Hello, firstname lastname!”

In [42]:
print(f"Hello {user['first_name']} {user['last_name']}!")

Hello Jorge Calle!

##Create a dictionary that holds 2 key: value pairs:
Look through your dictionary and print each pair,

In [44]:
d = {'key1':1,'key2':2,'key3':3,'key4':4}

In [54]:
for k,v in d.items():
  print('key: '+k)
  print('Value: '+str(v))

key: key1
Value: 1
key: key2
Value: 2
key: key3
Value: 3
key: key4
Value: 4

##Create a nested dictionary containing three dictionaries – these dictionaries could be anything (favorite pets, travel locations, etc.)
Loop through the dictionaries and print a message for each.

In [56]:
nested = {'user': {'name': 'John', 'age': '20', 'email': 'j@gmail.com'},
          'pet': {'type': 'Dog', 'age': '2', 'color': 'black'},
          'travel': {'location': 'London', 'place': 'The British Museum'}}

In [77]:
for k,v in nested.items():
  print('This is the '+k+' data: ' +str(v))

This is the user data: {'name': 'John', 'age': '27', 'email': 'j@gmail.com'}
This is the pet data: {'type': 'Dog', 'age': '2', 'color': 'black'}
This is the travel data: {'location': 'London', 'place': 'The British Museum'}