<a href="https://colab.research.google.com/github/jlcalleu18/MicroCredential-DataAnalytics/blob/main/day_3_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loops

In [ ]:
for x in 'CUNY':
  print(x)

C
U
N
Y

In [7]:
TV_Shows = ['games of thrones', 'star trek', 'Stranger Things',]

In [10]:
for show in TV_Shows:
  print(show.title()+ ", is my favorite TV show")
  print(show.upper())

Games Of Thrones, is my favorite TV show
GAMES OF THRONES
Star Trek, is my favorite TV show
STAR TREK
Stranger Things, is my favorite TV show
STRANGER THINGS

In [12]:
fruits = ['Apple', 'orange', 'cherry']

In [17]:
fruits.append('Strawberries')

In [18]:
fruits

['Apple',
 'orange',
 'cherry',
 'Banana',
 'Pears',
 'Mangos',
 'blue berries',
 'Strawberries']

In [29]:
fruits[7]='Strawberry'

In [30]:
fruits

['Apple',
 'orange',
 'kiwi',
 'Banana',
 'Pears',
 'Mangos',
 'blue berry',
 'Strawberry']

In [31]:
for f in fruits:
  print(f.upper() + ' is my favority fruit')

APPLE is my favority fruit
ORANGE is my favority fruit
KIWI is my favority fruit
BANANA is my favority fruit
PEARS is my favority fruit
MANGOS is my favority fruit
BLUE BERRY is my favority fruit
STRAWBERRY is my favority fruit

In [33]:
for num in range(1,10):
  print(num)

1
2
3
4
5
6
7
8
9

In [34]:
for num in range(1,11,2):
  print(num)

1
3
5
7
9

In [44]:
nums = list(range(1,21))

In [37]:
list(range(21,1,-1))

[21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [45]:
len(nums)

20

In [46]:
min(nums)

1

In [47]:
max(nums)

20

In [48]:
sum(nums)

210

In [49]:
l = [1,2,3,4,5,6,7,8,9,10]

In [57]:
for i in nums:
  if i %2 ==0:
    print(i)
  else:
    print(str(i) + ' is not an even number')

1 is not an even number
2
3 is not an even number
4
5 is not an even number
6
7 is not an even number
8
9 is not an even number
10
11 is not an even number
12
13 is not an even number
14
15 is not an even number
16
17 is not an even number
18
19 is not an even number
20

In [59]:
listSum = 0

for num in l:
  listSum = listSum + num

print(listSum)

55

In [61]:
dy={'k1':1, 'k2': 2, 'k3':3,'k4': 5}

In [62]:
for item in dy:
  print(item)

k1
k2
k3
k4

In [63]:
for k,v in dy.items():
  print(k)
  print(v)

k1
1
k2
2
k3
3
k4
5